
    <form class="p-6 
    flex flex-col" action="https://formsubmit.co/eliassilva170206@gmail.com" method="POST">
    <label for="name" class="my-1 ml-2 text-purple-400">Nombre</label>
        <input type="text" placeholder="Nombre completo" required class="p-3 mb-2 rounded-sm" />
   
        <label for="email" class="my-1 ml-2 text-purple-400">Email</label>
        <input
            type="email"
            name="email"
            placeholder="Email"
            required
            class=" p-3 rounded-sm"
        />
        <option value="Departamentos" class="mt-4 mb-2 ml-2 text-purple-400">Departamento</option>
        <select name="Departamento" class="mb-6 px-2 py-3 rounded-sm">
            <option value="Artigas">Artigas</option>
            <option value="Canelones">Canelones</option>
            <option value="Cerro Largo">Cerro Largo</option>
            <option value="Colonia">Colonia</option>
            <option value="Durazon">Durazon</option>
            <option value="Flores">Flores</option>
            <option value="Lavalleja">Lavalleja</option>
            <option value="Maldonado">Maldonado</option>
            <option value="Montevideo">Montevideo</option>
            <option value="Paysandú">Paysandú</option>
            <option value="Río Negro">Río Negro</option>
            <option value="Rivera">Rivera</option>
            <option value="Rocha">Rocha</option>
            <option value="Salto">Salto</option>
            <option value="San José">San José</option>
            <option value="Soriano">Soriano</option>
            <option value="Tacuarembo">Tacuarembo</option>
            <option value="Treinta y Tres">Treinta y Tres</option>
            <option value="Otro">Otro</option>
        </select>
        <textarea name="Massage" placeholder="Mensaje..."
        class="p-3 rounded-sm"></textarea>
        <button type="submit" 
        class="mt-6 bg-purple-600 hover:bg-purple-500 transition-all rounded-lg p-4 text-lg">
        Enviar</button>
    </form>

