<header
    class="flex justify-center items-center gap-x-5 py-7 w-full xl:w-[1120px] mx-auto"
>
    <nav
        class=" 
    sm:flex
    sm:flex-row
    sm:gap-x-10
    sm:opacity-85"
    >
        <a href="#top" class="mr-1">Inicio</a>
        <a href="#experiencia" class="mr-1">Experiencia</a>
        <a href="#proyectos" class="mr-1">Proyectos</a>
        <a href="#contacto" class="mr-1">Contacto</a>
    </nav>

    
</header>
